<!DOCTYPE html>

<html>
<head>
  {include file="common/meta" /}
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

	<!-- 主体页面面包屑导航 -->
	<section class="content-header">
		<h1>{$breadCrumbs.title}<small>{$breadCrumbs.remark}</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> 系统主页</a></li>
			{foreach name="breadCrumbs.list" item="vo" key="k" }
	        	<li class="active">{$vo.title}</li>
	        {/foreach}
		</ol>
	</section>

	<!-- 内容主体 -->
	<section class="content container-fluid">

		{__CONTENT__}

	</section>
	<!-- /.内容主体 -->
  
</div>

<!-- 必要的JS脚本 -->

<!-- jQuery 3 -->
{include file="common/script" /}

</body>
</html>