<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">选择需要清理的缓存</h3>
    </div>
    <div class="box-body">
        <form id="add-form" class="form-horizontal"  method="POST" action="">
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-1"></label>
                <div class="col-xs-12 col-sm-8">
                    <input type="checkbox" name="row[temp]"> 模板编译缓存
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-1"></label>
                <div class="col-xs-12 col-sm-8">
                    <input type="checkbox" name="row[cache]"> 站点数据缓存
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-1"></label>
                <div class="col-xs-12 col-sm-8">
                    <input type="checkbox" name="row[log]"> 网站日志文件
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-1"></label>
                <div class="col-xs-12 col-sm-8">
                </div>
            </div>
            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-1"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-success btn-embossed">清理</button>
                </div>
            </div>
        </form>
    </div>
</div>



