<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-user_name" class="control-label col-xs-12 col-sm-2">所属权限组：</label>
        <div class="col-xs-12 col-sm-8">
            <select class="select2" multiple="" style="width: 100%;" name=row[group][]  data-rule="required">
                {$tree_list}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="c-user_name" class="control-label col-xs-12 col-sm-2">用户名：</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_name" data-rule="required" class="form-control" name="row[user_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-nick_name" class="control-label col-xs-12 col-sm-2">昵称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nick_name" data-rule="required" class="form-control" name="row[nick_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-password" class="control-label col-xs-12 col-sm-2">密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" data-rule="required" class="form-control" placeholder="不修改请留空" name="row[password]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-repassword" class="control-label col-xs-12 col-sm-2">确认密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-repassword" data-rule="required" class="form-control" placeholder="不修改请留空" name="row[repassword]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-email" class="control-label col-xs-12 col-sm-2">邮箱:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-email" data-rule="required" class="form-control" name="row[email]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">手机:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row[status]-1"><input id="row[status]-1" checked="checked" name="row[status]" type="radio" value="1"> 正常</label> 
                <label for="row[status]-0"><input id="row[status]-0" name="row[status]" type="radio" value="0"> 禁止</label>
            </div>        
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">确认</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2({
        placeholder: "选择权限组"
    });
  })
</script>