<div class="panel-body">
    <div id="toolbar" class="toolbar">
        <a href="javascript:;" class="btn btn-success" id="btn_add"><i class="fa fa-plus"></i> 添加</a> 
        <a href="javascript:;" class="btn btn-success" id="btn_edit"><i class="fa fa-pencil"></i> 编辑</a> 
        <a href="javascript:;" class="btn btn-danger" id="btn_del"><i class="fa fa-trash"></i> 删除</a>                        
    </div>

    <table id="tb_departments" data-show-export="true" data-controller-path="admin"></table>
</div>


<script src="__JS__/kocor-table.js"></script>

<script>
    var TableConfig = {
        columns: [
            {checkbox: true}, 
            {field:'id',title:'ID',titleTooltip:"就是标题提示啦"}, 
            {field:'user_name',title:'用户名'}, 
            {field:'nick_name', title:'昵称'},
            {field:'auth_group_name', title:'权限组', align:'center', formatter: Table.Api.formatter.Label},
            {field:'email', title:'邮箱'},
            {field:'mobile', title:'手机'},
            {field:'last_login_time', title:'最后登录时间'},
            {field:'status', title:'状态', align:'center', width:'60px', sortable:true, formatter: Table.Api.formatter.DefaultStatus},
            {field:'update_time', title:'更新时间', sortable:true},
            {field:'create_time', title:'注册时间', sortable:true},
            {
                field: 'operate',
                title: '操作',
                events: Table.Api.OperateEvents,  //注册按钮事件
                formatter: Table.Api.OperateFormatter //自定义方法，添加操作按钮
            }
        ]
    }
    Table.Api.Init('tb_departments',TableConfig);
</script>