<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>jsTree test</title>
  <!-- 2 load the theme CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<body>
  <!-- 3 setup a container element -->
  <div id="jstree">

  </div>
<input type="text" id="plugins4_q" value="">
  <!-- 4 include the jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <!-- 5 include the minified jstree source -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
  <script>


	var ajaxTreeSample = function() {

        $("#jstree").jstree({
            "core" : {
                "themes" : {
                    "responsive": false
                }, 
                // so that create works
                "check_callback" : true,
                'data' : function (obj, callback) {
                    var jsonstr="[]";
                    var jsonarray = eval('('+jsonstr+')');
                    $.ajax({
                        type: "POST",
                        url:"/admin/auth_rule/str",
                        dataType:"json",
                        async: false,
                        success:function(result) {
                            var arrays= result;
                            for(var i=0 ; i<arrays.length; i++){
                                var arr = {
                                    "id":arrays[i].id,
                                    "parent":arrays[i].pid=="0"?"#":arrays[i].pid,
                                    "text":arrays[i].title,
                                    "state":{
                                    	"selected":arrays[i].is_selected=="1"?true:false,
                                    	"disabled":false,
                                    	"opened":true,

                                    },
                                }
                                jsonarray.push(arr);
								console.log(arr);
                            }
                        }

                    });
                    callback.call(this, jsonarray);
                }
            },
            "types" : {
                "default" : {
                    "icon" : "fa fa-folder icon-state-warning icon-lg"
                },
                "file" : {
                    "icon" : "fa fa-file icon-state-warning icon-lg"
                }
            },
            "plugins" : [ "dnd",  "types", "checkbox" ,"search"]
        });  

    }
    ajaxTreeSample();


	var to = false;
	$('#plugins4_q').keyup(function () {
		if(to) { clearTimeout(to); }
		to = setTimeout(function () {
			var v = $('#plugins4_q').val();
			$('#jstree').jstree(true).search(v);
		}, 250);
	});


  </script>

</body>
</html>

