<!-- fileinput -->
<link rel="stylesheet" href="__STATIC__/libs/bootstrap-fileinput/css/fileinput.min.css">

<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">父级：</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" name="row[cate_id]" data-rule="required">
                <option value="0">无</option>
                {$tree_list}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">标题：</label>
        <div class="col-xs-12 col-sm-8">
            <input data-rule="required" class="form-control" name="row[title]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">文章缩略图：</label>
        <div class="col-xs-12 col-sm-8 ">
            <input type="file" class="file" id="upload-pic" name="upload" accept="image/*"  multiple>
            <input type="hidden" id="h-pic" name="row[pic]" value="" data-rule="required">
        </div>
        <div id="errorBlock" class="help-block"></div>
    </div>
    <div class="form-group">
        <label for="c-remark" class="control-label col-xs-12 col-sm-2">文章内容：</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="ck_editor" class="form-control" name="row[content]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">文章内容2：</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="ck_editor2" class="form-control" name="row[content2]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">SEO标题：</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[seo_title]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">SEO关键词：</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[seo_keyword]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-remark" class="control-label col-xs-12 col-sm-2">SEO描述：</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" name="row[seo_description]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">权重：</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="text" value="50">
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">状态：</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label for="row[status]-1"><input id="row[status]-1" checked="checked" name="row[status]" type="radio" value="1"> 是</label> 
                <label for="row[status]-0"><input id="row[status]-0" name="row[status]" type="radio" value="0"> 否</label>
            </div>        
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">确认</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>


<!-- ckeditor.js -->
<script src="__STATIC__/libs/ckeditor/ckeditor.js"></script>
<!-- fileinput -->
<script src="__STATIC__/libs/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="__STATIC__/libs/bootstrap-fileinput/js/plugins/sortable.min.js"></script>
<script src="__STATIC__/libs/bootstrap-fileinput/js/locales/zh.js"></script>

<script type="text/javascript">
    
    //编辑器
    $(function () {
        CKEDITOR.replace('ck_editor', {   
            height: 350,   
            filebrowserUploadUrl: "/admin/ajax/ckUpload", //设置图片上传请求地址  
        });

        $("#btn_submit").click(function () {
            $("#ck_editor").val(CKEDITOR.instances.ck_editor.getData());
        });
    });

    //图片上传
    $("#upload-pic").fileinput({
        language: "zh",
        enctype:'multipart/form-data',
        uploadUrl: "/admin/ajax/fileInputUpload",
        overwriteInitial: false,
        required: true,
        //maxFilesNum:1, //表示允许同时上传的最大文件个数
        allowedFileExtensions: ["jpg", "png", "gif"],
        showUpload: false, //是否显示上传按钮
        deleteUrl: "/admin/ajax/picdel",
        maxFileSize:2097152,
        initialPreviewAsData: true,
        initialPreviewConfig: [{key: 1}],
        layoutTemplates :{
            actionDelete:'', //去除上传预览的缩略图中的删除图标
        },
    }).on("filebatchselected", function(event, files) {
        $("#upload-pic").fileinput("upload");
    }).on("fileuploaded", function (event, data, previewId, index){
        $('#h-pic').val(data.response.pic_url);       
    }); 
</script>