<header class="main-header">

    <!-- Logo -->
    <a href="{:url('index/index')}" class="logo">
      <!-- 迷你侧边栏LOGO 50x50 像素 -->
      <span class="logo-mini"><b>K</b>OCOL</span>
      <!-- 常规及移动模式下LOGO -->
      <span class="logo-lg"><b>Kocol</b>管理系统</span>
    </a>

    <!-- 头部导航 -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- 侧边栏切换按钮-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">切换导航</span>
      </a>

      
      <div id="nav" class="pull-left" >
        <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist">
          <li role="presentation" class="active" id="tab_tab_1" aria-url="/admin/index/index.html" aria-ajax="false" class=""><a href="#tab_1" aria-controls="tab_1" role="tab" data-toggle="tab"><i class="fa fa-dashboard"></i> <span>主页</span></a></li>
        </ul>
      </div>

      <!-- 右侧导航菜单 -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a href="{:request()->domain()}" data-toggle="home" title="网站首页" target="_bleak">
                <i class="fa fa-home"></i>
            </a>
          </li>
          <!-- 消息:在dropdown.less风格可以找到-->
          <li class="dropdown messages-menu">
            <!-- 菜单切换按钮 -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">你有4个新消息</li>
              <li>
                <!-- 消息列表 -->
                <ul class="menu">
                  <li><!-- 消息开始 -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="__STATIC__/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- 消息结束 -->
                </ul>
                <!-- /.消息列表 -->
              </li>
              <li class="footer"><a href="#">查看所有消息</a></li>
            </ul>
          </li>
          <!-- /.菜单切换按钮 -->

          <!-- 通知菜单 -->
          <li class="dropdown notifications-menu">
            <!-- 菜单切换按钮 -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">你有10通知</li>
              <li>
                <!-- 通知列表 -->
                <ul class="menu">
                  <li><!-- 开始通知 -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- 通知结束 -->
                </ul>
              </li>
              <li class="footer"><a href="#">查看所有</a></li>
            </ul>
          </li>
          <!-- 任务菜单 -->
          <li class="dropdown tasks-menu">
            <!-- 菜单切换按钮 -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">你有9个任务</li>
              <li>
                <!-- 任务列表 -->
                <ul class="menu">
                  <li><!-- 任务开始 -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- 任务结束 -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">查看所有任务</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" data-toggle="wipecache" title="清空缓存">
                <i class="fa fa-trash"></i>
            </a>
          </li>
          <!-- 管理帐户菜单 -->
          <li class="dropdown user user-menu">
            <!-- 菜单切换按钮 -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="__STATIC__/images/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{$adminInfo.user_name}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="__STATIC__/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  用户名:{$adminInfo.user_name} - 昵称:{$adminInfo.nick_name}
                  <small>最后登录时间：{$adminInfo.last_login_time}</small>
                </p>
              </li>
              <!-- 菜单主体
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">系统首页</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">会员管理</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">系统设置</a>
                  </div>
                </div>
                <!-- /.菜单主体 -->
              </li>
              <!-- 菜单尾部-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">管理员管理</a>
                </div>
                <div class="pull-right">
                  <a href="/admin/index/loginout" class="btn btn-default btn-flat">退出</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- 控制栏切换按钮 -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
</header>