<aside class="main-sidebar">

    <!-- 侧边栏:可以在sidebar.less定义风格 -->
    <section class="sidebar">

      <!-- 侧边栏用户面板(可选) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="__STATIC__/images/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Kocor</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>

      <!-- 搜索表单(可选) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="搜索...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.搜索表单 -->

      <!-- 侧边栏菜单 -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">主导航</li>
        <!-- 可以自由添加图标链接 -->
        <li class="active"><a href="#"  data-addtab="message" data-url="/admin/admin/index.html"><i class="fa fa fa-th"></i> <span>管理员管理</span></a></li>


        <li><a href="#" data-addtab="message1" data-url="http://www.qq.com"><i class="fa fa-folder"></i> <span>分类二多级分类</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-edit"></i> <span>多级分类多级分类</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" data-addtab="message2" data-url="http://www.taobao.com"><i class="fa fa-edit"></i> 多级分类多级分类</a></li>
            <li><a href="#" data-addtab="message4" data-url="http://www.jd.com"><i class="fa fa-edit"></i> 多级分类</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.侧边栏菜单 -->
    </section>
    <!-- /.侧边栏 -->
</aside>